/*
  Totem Ticker Stylesheet
  Zach Dunn / Build Internet (buildinternet.com)
  Winter 2011
*/


*{margin:0; padding:0;}

#totem-wrapper{

  width:100%;
  margin:0 auto;
}

  /*p {color:#fff; padding:10px 0; text-align:center;}
    .nav{}*/

  #wrapper a, #footer a{color:#e8914c; text-decoration:none; border-bottom:1px dotted #e8914c;}
    #wrapper a:hover, #footer a:hover{color:#eab209; border-bottom:1px dotted #eab209;}

/*

  This is the only semi-important stuff for plugin installation
  It's just an example, so customize away!
*/

#vertical-ticker{
  height:70px;
  overflow:hidden;
  margin:0; padding:0;
  -webkit-box-shadow:0 1px 3px rgba(0,0,0, .4);
}

  #vertical-ticker li{
    padding:35px 20px;
    display: block;
    /*background: rgba(184, 230, 92, .9);*/
    background: #B8E62E;
    color: #393939;
    text-align:center;
    font-weight:bold;
    font-family: 'Oswald', Arial;
  }

  @media (min-width: 48em) {

    #vertical-ticker {
      height: 110px;
    }

  }